# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.cache/
dist/
build/
.next/
out/
.vercel

# Project Specific
uploads/
faiss_indexes/
backend/thumbnails/
backend/images/
backend/vector_index.faiss
image_search.db
backend/service_accounts/*.json
!backend/service_accounts/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
